.container.hud
	.row.regularGameHud
		.span4.playerHud
			.hudIcon.inventoryButton(title='toggle inventory', data-placement='bottom')
				i.icon-briefcase.icon-large
				span.badge.hudCount
			.hudIcon.seedButton(title='seeds', data-placement='bottom')
				i.icon-leaf.icon-large
				span.badge.hudCount
			.hudIcon.logButton(title='game log', data-placement='bottom')
				i.icon-reorder.icon-large
				span.badge.hudCount.hide
		.span4.displayHud
			form.form-inline.chatBox
				input#chatText.input-xlarge(type='text', maxlength='90', placeholder='say something...')
				button#chatButton.btn(type='submit') Chat
		.span4.globalHud
			.hudIcon.helpButton(title='help', data-placement='bottom')
				i.icon-question-sign.icon-large
			.hudIcon.muteButton(title='toggle music', data-placement='bottom')
				i.icon-volume-up.icon-large
			.hudIcon.progressButton(title='display progress', data-placement='bottom')
				i.icon-desktop.icon-large
				//- span.badge.hudCount
			.hudIcon.activePlayers(title='active players', data-placement='bottom')
				i.icon-globe.icon-large
				span.badge.hudCount
	.row.bossHud
		.span4
			.regularSeedButton.bossBox
				i.icon-leaf.icon-large(title='seeds', data-placement='bottom')
				span.badge.hudCount 20
			//- .drawSeedButton.bossBox
			//- 	i.icon-star.icon-large(title='seeds', data-placement='bottom')
			//- 	span.badge.hudCount 20
		.span4
			p.clock 90
		.span3
			p.score score: <span>---</span>
		.span1
			.muteButton.bossBox
				i.icon-volume-up.icon-large(title='toggle music', data-placement='bottom')


